<div class="container mt-5">
    <h2 class="mb-4">Formularz Rezerwacji Stolika</h2>
    <form>
      <div class="form-group">
        <label for="datepicker">Data rezerwacji:</label>
        <input type="date" class="form-control" id="datepicker" required>
      </div>
      <div class="form-group">
        <label for="timepicker">Godzina rezerwacji:</label>
        <input type="time" class="form-control" id="timepicker" required>
      </div>
      <div class="form-group">
        <label for="name">Imię i nazwisko:</label>
        <input type="text" class="form-control" id="name" placeholder="Podaj swoje imię i nazwisko" required>
      </div>
      <button type="submit" class="btn btn-dark btn-block">Zarezerwuj Stolik</button>
    </form>
  </div>